@use '../base/vars' as *;
.posts {
    &__title {
        margin-bottom: 60px;
        font-size: 32px;
        font-weight: 700;
    }

    &__grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        justify-content: center;
        gap: 40px;
    }
}